 body 
 {
    margin:0;
    padding:0;
    height:100%; 
    overflow:auto;  
 }
 .modal
 {
    display: none; 
    position: absolute;
    top: 0px; 
    left: 0px;
    background-color:black;
    z-index:100;
    /*opacity: 0.8;
    filter: alpha(opacity=60);*/
    -moz-opacity:0.8;
    min-height: 100%;
 }
 #divImage
 {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background-color:White;
    height: 550px;
    width: 600px;
    padding: 3px;
    border: solid 1px black;
 }
 * html #divImage {position:absolute;}

/*Terms of Use*/
.terms 
{
  font-family: "Times New Roman", sans-serif;
  font-size: 12pt;
}

.terms li ol 
{
	margin-left: 2.5em; padding-left: 0;
	font-family: "Times New Roman", sans-serif;
	font-size: 12pt;
}

.termsHeading 
{
  font-family: "Times New Roman", sans-serif;
  font-size: 18pt;
  font-weight : bold;
}

/* Storefront */
.CategoryList{
  border: Black 1px solid; 
  text-align: left;
  margin-top: 20px;
  color: Black;
}
.CategoryListHead
{
  border: Black 1px solid;
  background-color: #c0c0c0;
  text-align: center;
}
a.CategoryListUnselected {
  line-height: 25px;
  text-decoration: none;
  color: Black;
}
a.CategoryListUnselected:hover {
  text-decoration: underline;
}
a.CategoryListSelected {
  line-height: 25px;
  font-weight: bold;
  text-decoration: none;
  color: Black;
}

/*Document Treelist*/
.RadMenu_Context {
    text-align: left !important;
 }
.docdivLeft {
    float: left;
    overflow:auto;
    width:74%;
    height:305px;
    border: #CBE7F5 1px solid;  /*CBE7F5*/
    background-color:#FFFFFF;
    text-align: left;
}

.docdivRight {
    float: right;
    overflow:auto;
    width:25%;
    height:305px;
    border: #CBE7F5 1px solid;
    text-align:left;
    font-family: Verdana, Arial;
    font-size:8pt;
    color:#000000;
    background-color:#FFFFFF;
    text-align: left;
}
.docdivCenter {
    height:305px;
    border: #CBE7F5 1px solid;  /*CBE7F5*/
    background-color:#FFFFFF;
    text-align: left;
}

/* Misc */
.divLeft {
    float: left;
    overflow: auto;
    text-align: left;
}
.divRight {
    float: right;
    overflow: auto;
    text-align: left;
}
.clear {
    clear: both;
}